<html lang="en">
  <head>
    <title>{% block title %}Title{% endblock %}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="node_modules/jquery/dist/jquery.js"></script>        

    <script src="node_modules/popper.js/dist/umd/popper.js"></script>

    <script src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css" />

    <script src="node_modules/fastsearch/dist/fastsearch.js"></script>
    
    <script src="node_modules/fastselect/dist/fastselect.js"></script>
    <link rel="stylesheet" href="node_modules/fastselect/dist/fastselect.css" />

    <style>
      {% block extra_style %}{% endblock %}
    </style>
  </head>

  <body>
    {% block body %}{% endblock %}
    <hr/>
    All data (c) Oracle

    <script>
      {% block extrajs %}{% endblock %}
    </script>
  </body>
</html>
